/* tui_data_view.tcss */
Screen {
  layout: vertical;
}

#status_bar {
  padding: 1;
  background: $primary;
  color: $text;
  text-style: bold;
}

#bio-grid {
  grid-size: 2 3;
  grid-gutter: 2;
  padding: 1;
}

.fixed-table {
  width: 50;
  height: 13;
}

DataTable {
  background: $panel;
  color: $text;
}

DataTable > .datatable--header {
  background: $primary-darken-1;
  color: $text;
}
